@tailwind base;
@tailwind components;
@tailwind utilities;

// #D3D3D3; - light gray
// #f5f5f5 - cultured
// #1e1014  - dark text
// #ff595e - red salsa
// #3D3D3D - onyx

$primary_color: #ede4da;
$secondary_color: #db2777;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

::selection {
  background: #1e1014;
  color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
.animated-link {
  color: #6f4c5b;
}

.animated-link {
  text-decoration: none;
  background-image: linear-gradient($secondary_color, $secondary_color);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 0.3s ease-in-out;

  &:hover,
  &:active {
    background-size: 100% 3px;
  }
}

button[disabled] {
  cursor: not-allowed;
  pointer-events: all;
}

.active {
  text-decoration: none;
  background-image: linear-gradient($secondary_color, $secondary_color);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 3px;
  transition: background-size 0.3s ease-in-out;
}

.site-title {
  letter-spacing: 4px;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.post-card-wrapper:hover h1 {
  color: $secondary_color;
  transition: 0.2s;
}

.post-card-wrapper:hover {
  box-shadow: 5px 10px 0px rgb(0 0 0 / 5%);
  transition: 0.2s;
}

.social-icon {
  height: 40px;
  width: 40px;
}

.search-icon {
  height: 24px;
  width: 24px;
}

.search-icon.full-search {
  display: none;
}

.close-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 3.4em;
  right: 1em;
}

.search-input {
  font-size: 1.2em;
}
